<html>
<head>
    <title>Consultar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <h1>Consultar</h1>
    <form action="#" method="post">
        {% csrf_token %}
        <p>
            <label for="user_document">Documento:</label>
            <input type="text" name="user_document" id="user_document" />
        </p>
        <p>
            <label for="placa_vehiculo">Placa:</label>
            <input type="text" name="placa_vehiculo" id="placa_vehiculo" />
        </p>

        <table class="table">

        <thead>
            <p>Consulta usuario</p>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Documento</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>{{context.nombres}}</td>
                    <td>{{context.correo}}</td>
                    <td>{{context.telefono}}</td>
                    <td>{{context.documento_usuario}}</td>
                </tr>
            </tbody>

    </table>

    <table class="table">
        <thead>
            <p>Consulta placa</p>
            <tr>
                <th scope="col">Modelo</th>
                <th scope="col">Fecha ingreso</th>
                <th scope="col">Placa</th>
                <th scope="col">Documento</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>{{context.modelo}}</td>
                    <td>{{context.fecha_entrada}}</td>
                    <td>{{context.placa_vehiculo}}</td>
                    <td>{{context.documento_usuario}}</td>
                </tr>
            </tbody>
    </table>

            <input type="submit" value="Consultar" />
        </p>
    </form>
    <a href="/register_vehicle">
        <p >
          Ir a registrar vehículo
        </p>
      </a>
      <a href="/register_user">
        <p >
          Ir a registrar usuario
        </p>
      </a>

</body>
</html>