<html>
<head>
    <title>Consult</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <h1>Consult</h1>
    <form action="register.php" method="post">
        <p>
            <label for="username">Nombres:</label>
            <input type="text" name="username" id="username" />
        </p>
        <p>
            <label for="username">Teléfono:</label>
            <input type="text" name="username" id="username" />
        </p>
        <p>
            <label for="username">Correo:</label>
            <input type="text" name="username" id="username" />
        </p>
        <p>
            <label for="username">Color:</label>
            <input type="text" name="username" id="username" />
        </p>
        <p>
            <label for="username">Placa:</label>
            <input type="text" name="username" id="username" />
        </p>

        <p>
            Ver tabla
            {{context}}
        </p>

            <input type="submit" value="Register" />
        </p>
    </form>
</html>