<html>
<head>
    <title>Consultar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <h1>Consultar</h1>
    <form action="/" method="GET">
        {% csrf_token %}
        <p>
            <label for="user_document">Documento:</label>
            <input type="text" name="user_document" id="user_document" />
        </p>

        <table class="table">

        <thead>
            <p>Consulta usuario</p>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Correo</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Documento</th>
                <th scope="col">Gestionar</th>
                <th scope="col">Dar Salida</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>{{context.nombres}}</td>
                    <td>{{context.correo}}</td>
                    <td>{{context.telefono}}</td>
                    <td>{{context.documento_usuario}}</td>
                    <td><a href={{context.enlace_gestion}}>{{context.nombre_gestion}}</a></td>
                    <td><a href="{{context.enlace_salida}}">{{context.nombre_salida}}</a></td>
                </tr>
            </tbody>

    </table>


            <input type="submit" value="Consultar" />
        </p>
    </form>
    <a href="/register_vehicle">
        <p >
          Dar entrada a vehículo
        </p>
      </a>


</body>
</html>